<html>
  <head>
    <title>My Email Template</title>
  </head>
  <body>
    <h1>Hello {{name}}!</h1>
    <p>Welcome to our newsletter.</p>
    <img src="cid:alike_logo" alt="alike_logo" width="120" />
  </body>
</html>